venv/
datasets/
research/
runs/

__pycache__/
*.pyc

database/*.csv
database/*.db

database/latest_detection.jpg
database/latest_detection_video.jpg
database/trackguard_report.pdf

*.pt
!models/best.pt

.env